.titulo {
  background: papayawhip;
}
.subtitulo {
  background: blue;
  color: black;
  font-size: 20px;
}
.fondo {
  background: white;
}
h1 {
  color: red;
}
h2{
    color: yellow;
    background-color: blue;
}


